@import "tailwindcss";
:root {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

/* Space for fixed MAAD navbar on all pages */
.page-content {
  padding-top: 105px;
}
